:root {
    --primary-color: #00bfa5;
    --bg-color: #e0f7fa;
    --text-color: #333;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.container {
    margin: 0 auto;
    background-color: #e0f7fa;
    border-radius: 40px;

}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

nav{
    display: flex;
    justify-content: space-around;
    padding: 0 20px;
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    color: var(--text-color);
}

.contact-button {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

main {
    text-align: center;
    padding: 40px 0;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.contact-form {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.contact-info {
    flex-basis: 30%;
    background-color: var(--primary-color);
    color: white;
    padding: 20px;
    border-radius: 10px;
}

.contact-fields {
    flex-basis: 65%;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
}
.bg{
    background-color:#ddd;
    z-index: -1;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.whitecent{
    background-color: #333;
    padding: 2%;
}
